/* For WebKit based browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
    width: 8px;
}

/* Track (the background of the scrollbar) */
::-webkit-scrollbar-track {
    /* background: #ffffff; */
}

/* Handle (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.rotate-device {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 24px;
    color: #555;
}

body {
    font-family: Arial, sans-serif;
}

.flashcard-container {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flashcard {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    min-height: 300px; /* Fixed height for flashcard */
    overflow: hidden; /* Hide overflow content */
}

.flashcard h2,
.flashcard p {
    margin-bottom: 10px;
}

.flashcard h2 {
    color: #005A9C;
    font-weight: 600;
}

.prev-btn, .next-btn {
    margin: 0 30px;
    padding: 12px 16px;
    border: none;
    border-radius: 15px;
    background-color: #000000;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
}

.prev-btn:hover, .next-btn:hover {
    background-color: #000000;
}

.prev-btn:focus , .next-btn:focus {
    outline: none !important; /* Remove default outline */
    box-shadow: none !important;
    background-color: #555555 !important;
}

.sidebar {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto; /* Added to make the sidebar scrollable */
    padding: 0;
}

#sidebar .nav-link {
    color: #000;
    cursor: pointer;
}

.synonym-button {
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    padding: 5px 12px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.synonym-button:hover {
    color: #fff;
}

.top-buttons {
    position: absolute;
    bottom: 10px;
    right: 0;
    display: flex;
    flex-direction: column;
}

#barron-800 {
    background-color: #000;
    color: #fff;
    padding: 8px 14px;
    border-radius: 10px;
    font-size: 12px;
}

#barron-333 {
    background-color: #000;
    color: #fff;
    padding: 8px 14px;
    border-radius: 10px;
    font-size: 12px;
    margin-bottom: 8px;
}

.nav-item.active {
    background-color: #000000;;
}

.nav-item.active a {
    color: #fff !important;
}

/* Style for total count */
.total-count {
    padding: 10px 16px;
    background-color: #000;
    color: #fff;
}

.top-buttons .active {
    background-color: #005A9C !important;
}

.top-buttons a {
    text-decoration: none;
}

.top-buttons a:hover {
    text-decoration: none;
}

#offcanvas-toggle-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1;
    font-size: 20px;
}

#offcanvasRight {
    width: 600px;
}

.alphabet-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.alphabet-buttons button {
    width: calc(100% / 13 - 10px); /* Calculate width to fit 13 buttons in a row with gaps */
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #787878;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.reset-btn {
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #787878;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}

.reset-btn:hover {
    background-color: #0056b3;
}


.alphabet-buttons button:hover {
    background-color: #0056b3;
}


/* Adjustments for small screens */
@media (max-width: 1000px) {
    hr {
        margin: 10px 0;
        border-color: #fff;
    }   
}

@media (max-width: 400px) {
    .container-fluid {
        display: none;
    }

    .rotate-device {
        display: block;
    }

    .rotate-device i {
        font-size: 48px;
        margin-bottom: 10px;
    }
}